body{
    padding: 50px;
    background-color: black;
}

/* Header start */

.header{
    display: flex;
    justify-content: space-between;

}

.logo_and_nav{
    display: flex;
    align-items: center;
}
.logo_and_nav img{
    margin-right: 40px;
}

.nav {
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}


.links button{
    border-width: 0px;
    background-color: #fff;
    height: 36px;
    width: 36px;
    margin-right: 12px;
}

.links img{
    height: 25px;
    width: 25px;
}

/* Header end */

/* Section first start */

.title_1_1{
    color: white;
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 51px;
    margin-bottom:60px;
}

.desc_1_1{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 115px;
}

.first_desc{
    
}

.first_desc button{
    background-color: #8DFD1B;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 205px;
    height: 60px;
    font-size: 16px;
}

.first_content{
    display: flex;
    align-items: center;
    height: 100vh;
    
}