body{
    padding: 50px;
    background-color: black;
}

/* Header start */

.header{
    display: flex;
    justify-content: space-between;

}

.logo_and_nav{
    display: flex;
    align-items: center;
}
.logo_and_nav img{
    margin-right: 40px;
}

.nav {
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}


.links button{
    border-width: 0px;
    background-color: #fff;
    height: 36px;
    width: 36px;
    margin-right: 12px;
}

.links img{
    height: 25px;
    width: 25px;
}

/* Header end */

/* Section first start */

.title_1_1{
    color: white;
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 51px;
    margin-bottom:60px;
}

.desc_1_1{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 115px;
}



.first_desc button{
    background-color: #8DFD1B;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 205px;
    height: 60px;
    font-size: 16px;
}

.first_content{
    display: flex;
    align-items: center;
    height: 100vh;
    
}

/* Section first end */

/* section second start*/
.second_desc_left{
    color:#fff;
    
}

.sec_title_1{
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    padding-left: 50px;
}
.sec_title_2{
    color: gray;
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    padding-left: 50px;
}

.second_desc_right button{
    width: 246px;
    height: 42px;
    background-color: black;
    color: #fff;
    border-color: #8DFD1B;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
.second_desc_right{
    color: #fff;
    padding-left: 20rem;
    padding-right: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

}
.sec_desc_1{
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #8DFD1B;
    margin-bottom: 27px;
    border-left: solid;
    padding-left: 22px;
}

.second_content{
    display: flex;
    align-items: center;
}

.sec1{
    margin-bottom: 18px;
}
.sec2{
    margin-bottom: 17px;
}
.sec3{
    margin-bottom: 36px;
}
/* section second end*/

.run_text{
    color: white;
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 79px;
    margin-top: 172px;
    max-width: 90%;
}
.run_text div{
    display: flex;
    width: 200%;
    animation: run_text 2s linear infinite;

}

.run_text p{
    white-space: nowrap;
    width: 100%;
}

@keyframes run_text{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}